# Dependencies
backend/venv/
frontend/node_modules/

# OS/IDEs
.vscode/
.idea/
.DS_Store
*.swp

# Build artifacts
dist/
build/
*.pyc
__pycache__/
*/__pycache__/

# Log files
*.log

# Environment variables
.env
.env.*

# Databases
*.sqlite3
*.db
